@import '../../styles/reset.scss';

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;

  .loginContainer {
    width: 500px;
    padding: 50px;
    border: 0.5px solid #dddddd;
    border-radius: 5px;
  }
}
