@import '../../styles/reset.scss';

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;

  .loginContainer {
    width: 300px;
  }
}
