.loginForm {
  position: relative;
  margin: auto 0;
  border: none;
  text-align: center;
  input {
    display: inline-block;
    width: 400px;
    height: 50px;
    padding: 15px;
    margin-bottom: 25px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Nanum Gothic', sans-serif;
  }
  .loginBtn {
    position: relative;
    width: 400px;
    height: 50px;
    margin: auto 0px;
    background-color: #006633;
    color: #ffffff;
    font-size: 15px;
    font-family: 'Nanum Gothic', sans-serif;
  }
}
