@import '../../styles/reset.scss';

.listWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;

  .listProductCard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
