.listCategoryBar {
  display: flex;
  align-items: center;
  border-radius: 3px;
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: #f4f4f2;
}

.listCategoryTitle {
  font-size: 20px;
  font-weight: bold;
}

.listCategoryIcon {
  width: 45px;
  margin-left: 15px;
}

.listCategoryExplain {
  font-size: 15px;
  margin-left: 3px;
}
