.listBeverageCard {
  margin-bottom: 15px;

  .beverageProductImage img {
    width: 250px;
    height: 250px;
    float: left;
    margin-left: 15px;
  }

  .beverageProductName {
    color: rgb(0, 0, 0);
  }
}
