.listBeverageCard {
  margin-bottom: 20px;
  text-align: center;

  .beverageProduct {
    width: 250px;
    height: 250px;
    margin: 0 10px;
  }

  .beverageProductName {
    display: block;
    font-size: 15px;
    padding: 10px 30px;
    text-align: center;
  }
}
