.detailReview {
  h1 {
    border-bottom: 1px solid #dddddd;
    margin-bottom: 10px;
    padding-bottom: 15px;
    color: #444444;
    font-size: 20px;
    font-weight: bolder;
    line-height: 1.5;
  }

  .reviewInput {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #dddddd;
  }
}
