.nav {
  display: flex;
  justify-content: space-between;
  background: #f6f5ef;
  padding: 10px;

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 300px;
    width: 50px;
  }

  .navList {
    width: 100%;
    padding-right: 250px;
    text-align: right;

    a {
      color: #333333;
      font-style: normal;
      font-family: Arial, georgia;
      font-size: 13px;
      padding-bottom: 10px;
      margin-right: 20px;
      text-decoration: none;
      cursor: pointer;
    }
  }
}
